<header id="navigation">
  <div class="container">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3"
  >
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="/images/logo-40x40.png" alt="Logo" />
        {{SiteName}}
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <app-login-menu></app-login-menu>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated$ | async">
            <a class="nav-link text-light" [routerLink]="['/portfolio']"
              ><span class="credential-icon-tab mr-2"></span> Credentials <span *ngIf="showPortfolioBadge$ | async" class="badge badge-success">{{portfolioBadge$ | async}}</span></a
            >
          </li>
          <li class="nav-item ml-4" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated$ | async">
            <a class="nav-link text-light" [routerLink]="['/folio']">
                <span class="folio-icon-tab mr-2"></span> Folio
            </a>
        </li>
        <li class="nav-item ml-4" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated$ | async">
            <a class="nav-link text-light" [routerLink]="['/transactions']">
                <span class="transactions-icon-tab mr-1"></span> Transactions
            </a>
        </li>
        </ul>
      </div>
  </nav>
</div>
</header>
