a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#navigation::before {
  content: "";
  background: linear-gradient(to left, #9206ea, #9058fb 17%, #2b85f9 57%, #00b5f8 100%);
  position: absolute;
  height: 332px;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}