<div class="dashboard-container">
  <div class="row">
    <div class="col">
      <div class="dashboard-title">DASHBOARD</div>
    </div>
  </div>
  <div class="row credential-row">
    <div class="d-flex flex-column col-12 col-sm col-lg-8 d-lg-block">
      <div class="mb-3 h2">
        Congratulations! <br /> You've published a credential.
      </div>
      <div class="mb-3"><a [routerLink]="['/links']" class="btn btn-outline-primary btn-lg">SHARE YOUR CREDENTIAL</a></div>
      <div><span class="small-text">You'll need to connect a digital wallet to send your credential.</span></div>
      <div class="mb-4"><a (click)="openPdf()">Learn more about digital wallets.</a></div>
      <div class="h3 mb-3">Supported Wallets</div>
      <div id="connect-logos" class="row justify-content-around align-items-center">
        <a href="https://idramp.com/passport-identity-wallet/" target="_blank"><img src="/images/idramp-passport-logo.png" style="width: 148px;"></a>
        <a href="https://www.connect.me" target="_blank"><img src="/images/connect-me-logo.svg" style="width: 190px;"></a>
      </div>

    </div>
    <div class="col-12 col-sm">
      <div *ngIf="showSpinner == true; else highlightsContent" class="d-flex flex-column">
        <app-spinner id="profile-spinner" [message]="message"></app-spinner>
      </div>
      <ng-template #highlightsContent>
        <span *ngIf="dashboard.showNewestPdfTranscript || dashboard.showShareableLinksSection" class="h2">Highlights</span>
        <div *ngIf="dashboard.showNewestPdfTranscript" class="highlights-group mt-3">
          <span class="h3">Latest Transcript</span>
          <p class="font-weight-lighter">From {{dashboard.newestPdfTranscript.clrName}} issued on {{dashboard.newestPdfTranscript.clrIssuedOn | date: 'M/d/yyyy'}}.</p>
          <div class="">
            <button type="button" name="view-pdf-button" class="btn btn-outline-primary btn-lg"
            (click)="showPdf(null, dashboard.newestPdfTranscript.clrId, dashboard.newestPdfTranscript.assertionId, dashboard.newestPdfTranscript.evidenceName, dashboard.newestPdfTranscript.artifactId, dashboard.newestPdfTranscript.artifactName)">
            DOWNLOAD {{dashboard.newestPdfTranscript.artifactName}}</button>
          </div>
        </div>
        <div *ngIf="dashboard.showShareableLinksSection" class="highlights-group mt-3">
          <span class="h3">Shareable Credential</span>
          <div class="highlights-group-button mt-3">
            <a class="btn btn-outline-primary btn-lg" title="Share Credential" [routerLink]="['/links']">SHARE</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
