<div class="dashboard-container">
  <div class="row">
    <div class="col">
      <div class="dashboard-title">DASHBOARD</div>
    </div>
  </div>
  <div class="row credential-row">
    <div class="d-flex flex-column col-12 col-sm col-lg-8 d-lg-block">
      <div class="mb-3 h2">
        Congratulations! <br /> You've published a credential.
      </div>
      <div class="mb-3"><a [routerLink]="['/links']" class="btn btn-outline-primary btn-lg">SHARE YOUR CREDENTIAL</a></div>
      <div><span class="small-text">You'll need to connect a digital wallet to send your credential.</span></div>
      <div class="mb-4"><a (click)="openPdf()">Learn more about digital wallets.</a></div>
      <div class="h3 mb-1">Supported Wallets</div>
        <table class="table table-borderless mb-0">
          <tbody>
            <tr>
              <td colspan="2" class="align-middle pb-0">
                <a href="https://idramp.com" target="_blank"><img src="/images/idramp-passport-logo.png" style="width: 148px;"></a>
              </td>
              <td colspan="2" class="align-middle pb-0">
                <a href="https://www.connect.me" target="_blank"><img src="/images/connect-me-logo.svg" style="width: 190px;"></a>
              </td>
            </tr>
            <tr>
              <td class="text-center align-middle">
                <a href="https://apps.apple.com/us/app/idramp-cello/id1590801314" target="_blank" title="Get the Cello App from Apple App Store"><i class="fab fa-apple fa-4x"></i></a>
              </td>
              <td class="text-center align-middle">
                <a href="https://play.google.com/store/apps/details?id=com.cello" target="_blank" title="Get the Cello App from Google Play"><i class="fab fa-google-play fa-4x"></i></a>
              </td>
              <td class="text-center align-middle">
                <a href="https://itunes.apple.com/us/app/connect-me/id1260651672?mt=8" target="_blank"  title="Get ConnectME from Apple App Store"><i class="fab fa-apple fa-4x"></i></a>
              </td>
              <td class="text-center align-middle">
                <a href="https://play.google.com/store/apps/details?id=me.connect&hl=en" target="_blank"  title="Get ConnectME from Google Play"><i class="fab fa-google-play fa-4x"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-12 col-sm">
      <div *ngIf="showSpinner == true; else highlightsContent" class="d-flex flex-column">
        <app-spinner id="profile-spinner" [message]="message"></app-spinner>
      </div>
      <ng-template #highlightsContent>
        <span *ngIf="dashboard.showNewestPdfTranscript || dashboard.showShareableLinksSection" class="h2">Highlights</span>
        <div *ngIf="dashboard.showNewestPdfTranscript" class="highlights-group mt-3">
          <span class="h3">Latest Transcript</span>
          <p class="font-weight-lighter">From {{dashboard.newestPdfTranscript.clrName}} issued on {{dashboard.newestPdfTranscript.clrIssuedOn | date: 'M/d/yyyy'}}.</p>
          <div class="">
            <button type="button" name="view-pdf-button" class="btn btn-outline-primary btn-lg"
            (click)="showPdf(null, dashboard.newestPdfTranscript.clrId, dashboard.newestPdfTranscript.assertionId, dashboard.newestPdfTranscript.evidenceName, dashboard.newestPdfTranscript.artifactId, dashboard.newestPdfTranscript.artifactName)">
            DOWNLOAD {{dashboard.newestPdfTranscript.artifactName}}</button>
          </div>
        </div>
        <div *ngIf="dashboard.showShareableLinksSection" class="highlights-group mt-3">
          <span class="h3">Shareable Credential</span>
          <div class="highlights-group-button mt-3">
            <a class="btn btn-outline-primary btn-lg" title="Share Credential" [routerLink]="['/links']">SHARE</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
