@font-face {
  font-family: Epilogue-Bold;
  src: url(../fonts/Epilogue-Bold.woff2); }

@font-face {
  font-family: Epilogue-ExtraBold;
  src: url(../fonts/Epilogue-ExtraBold.woff2); }

@font-face {
  font-family: Epilogue-Medium;
  src: url(../fonts/Epilogue-Medium.woff2); }

@font-face {
  font-family: Epilogue-Regular;
  src: url(../fonts/Epilogue-Regular.woff2); }

@font-face {
  font-family: Typold-Bold;
  src: url(../fonts/Typold-Bold.otf); }

@font-face {
  font-family: Typold-ExtraBold;
  src: url(../fonts/Typold-ExtraBold.otf); }

@font-face {
  font-family: Typold-Medium;
  src: url(../fonts/Typold-Medium.otf); }

@font-face {
  font-family: Typold-Regular;
  src: url(../fonts/Typold-Regular.otf); }
