// Dark Blue
$darkBlue: #003B5C;
// Gray
$gray: #D7D2CB;
// Parchment
$parchment: #F4EFE6;
// White
$white: #F9F7F2;
// Blue
$blue: #52E4EA;
// Baby Blue
$babyBlue: #D2ECF7;
// Orange
$orange: #FF9E1B;
// Cream
$cream: #FAEFE1;
// Hot Pink
$hotPink: #E61B59;
// Pink
$pink: #FFD9E4;
// Aqua
$aqua: #00BCC4;
// Light Aqua
$lightAqua: #C2F1F2;
// Primary Background
$backgroundWhite: #FAF8F5;
// Title
$titleWhite: #FEFEFC;

$purple: #9206EA;

$body-bg: $backgroundWhite;

$theme-colors: ( "primary": $blue, "secondary": $purple, "danger": $hotPink, "info": $purple );

$colors: ( "white": $white );

$btn-font-size-lg: 14px;


$font-family-open-sans: Open-Sans, sans-serif;
$font-family-base: $font-family-open-sans;
$font-weight-semibold: 600;
