<div *ngIf="showSpinner == true; else clrsContent" class="row d-flex flex-column">
  <app-spinner id="profile-spinner" [message]="'loading clrs'"></app-spinner>
</div>
<ng-template #clrsContent>
  <!--<section *ngFor="let clr of clrs" class="clr-section my-2">
    <div class="card-section-header cursor" (click)="collapseToggle($event, clr)" [attr.aria-expanded]="!clr.isCollapsed">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-6 order-first">
          <div class="row">
              <div class="col-1">
                <span class="align-middle d-inline expand-button-icon mr-2"><i class="far fa-chevron-circle-right fa-2x"></i></span>
              </div>
              <div class="col-11">
                <span class="h6 d-inline-flex text-wrap">
                    <span *ngIf="clr.isRevoked" class="alert-danger">REVOKED</span>
                  {{getName(clr)}}
                </span>
              </div>
          </div>
        </div>
        <div class="col-4 col-md-3 col-lg-2 order-md-2 order-last text-center">
          <a class="font-18" [routerLink]="['/credentials/display', packageId]">
            Details
          </a>
        </div>
        <div class="col-4 col-md-3 col-lg-2 text-right order-xs-1 order-md-3">ISSUED ON</div>
        <div class="col-4 col-md-2 order-xs-2 order-md-4">
          <b>{{clr.issuedOn | date: 'MM.dd.yyyy'}}</b>
        </div>
      </div>
    </div>
    <div id="{{ 'oclr-' + clr.id.toString()}}" class="card-section-body" #collapse="ngbCollapse" [(ngbCollapse)]="clr.isCollapsed">
      <app-clr-section-assertions *ngIf="!clr.isCollapsed" ancestors="clr" [ancestorKeys]="clr.id.toString()" [clrId]="clr.id"></app-clr-section-assertions>
    </div>
  </section>-->
<ng-template>
