<ng-container *ngIf="clr.enableSmartResume">
    <ng-container *ngIf="!clr.hasSmartResume">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-tertiary"(click)="submit()">Create Smart Resume</button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="clr.hasSmartResume">
        <div class="row">
          <div class="col">
            <p>
              <a [href]="clr.smartResumeUrl" target="_blank">Go to Smart Resume</a>
            </p>
            <p><small>In some instances, your smart resume may take up to 24 hours before it is available.</small></p>
          </div>
        </div>
    </ng-container>
</ng-container>
