<div style="position: relative;width:320px;top:30px;padding-right:50px;padding-bottom:50px;">

    <div style="position: absolute;left:78px;background-color: white;width:150px;height:150px;border-radius: 50%;z-index: 2;">
        <div style="width:130px; height:130px; border-radius: 50%; border: 1px solid #f3f3f3;position: absolute;top:50%;left:50%; margin: -65px 0px 0px -65px"></div>
    </div>
    
    <div style="border-radius: 5px; width:300px; height:380px;border-radius: 10px; background-color: white; font-size:12px; 
        position: relative;top:70px; padding:10px 10px 10px 10px;
        box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.2);">
        <div style="margin-bottom:60px;text-align: right;"><span class="pencil-icon"></span></div>
        <div style="top:80px;text-align: center;padding-bottom:20px;font-size:20px">{{fullName}}</div>
        <div class="row">
            <div class="col-sm-6" style="text-align: center;border-right:2px solid #f7f7f7;color:#0099F8;font-weight: bold;">{{totalTests}}</div>
            <div class="col-sm-6" style="text-align: center;color:#0099F8;font-weight:bold;">{{totalCredits}}</div>
        </div>
        <div class="row" style="padding-bottom:30px;">
            <div class="col-sm-6" style="text-align: center;border-right:2px solid #f7f7f7; font-weight:bold">ASSESSMENTS</div>
            <div class="col-sm-6" style="text-align: center;font-weight:bold;">
                <div style="padding-bottom:5px;">CREDITS</div>
                <div><button type="button" class="btn btn-sm btn-outline-primary" style="font-size:8px" (click)="addCredit()">ADD CREDIT</button></div>
                </div>
        </div>
        <div class="row" style="padding-bottom:20px;">
            <div class="col-sm-12">
                <div style="color:#BEBEBE;font-weight: bold;margin-left:15px;">DOB</div>
                <div style="font-size: 15px;margin-left:15px;">{{dob}}</div>
            </div>
        </div>
        <div class="row" style="padding-bottom:20px;">
            <div class="col-sm-12" style="margin-left:15px;">
                <div style="color:#BEBEBE;font-weight: bold;">ID NUMBER</div>
                <form [formGroup]="form" (ngSubmit)="submit()" class="form-reset">
                    <input *ngIf="candidateId === null" class="form-control" formControlName="candidateId" placeholder="ETS Candiate ID"  style="font-size:15px;width:130px;display:inline;margin-right:20px;padding:0px;" maxlength="8"/>
                    <div *ngIf="candidateId !== null" style="font-size: 15px;display:inline-block;width:30%;">{{candidateId}}</div>
                    <div *ngIf="candidateId !== null" style="font-size: 15px;display:inline-block;width:60%;text-align:right;margin-right:5px;">
                        <button *ngIf="candidateStatus === 12" type="button" class="btn btn-sm btn-outline-primary" style="font-size:10px" (click)="verifyCandidate(candidateId)">Verify Identity</button>
                        <span *ngIf="candidateStatus === 13" class="text-success" style="font-size:15px"><fa-icon icon="check-circle" class="fa fa-xs text-success margin-right-5"></fa-icon>Verified</span>
                    </div>

                    <div *ngIf="f.candidateId.errors && submitted" class="text-danger">
                        <div *ngIf="f.candidateId.errors.required"><fa-icon icon="exclamation-circle" class="fa fa-xs text-danger margin-right-5"></fa-icon></div>
                        <div *ngIf="f.candidateId.errors.maxlength || f.candidateId.errors.minlength">The Candidate Id is 8 digits</div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-outline-primary"  style="font-size:8px" [ngClass]="{'hide': !showAddPortfolioBtn}">ADD TO PORTFOLIO</button>
                </form>                   
            </div>
        </div>            
    </div>
</div>
