<div id="wrapper" style="margin-bottom:90px">
    <div id="left-side" style="display:inline-flex;width:30%">
        <app-candidate-profile></app-candidate-profile>
    </div>
    <div id="right-side" style="display:inline-flex;width:70%">
        <div style="border-radius: 5px; width:100%; height:380px;border-radius: 10px; background-color: white; font-size:12px; 
            position: relative;top:105px; padding:20px 20px;
            box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.2);">
            <div style="color:#65E7EC;width:100px;margin-bottom:10px;font-size:15px">DASHBOARD</div>
            <div>No recent updates</div>
            
        </div>
    </div>
</div>
<div style="margin-top:15px">
    <div style="border-radius: 5px; width:100%; height:380px;border-radius: 10px; background-color: white; font-size:12px; 
        padding:10px 20px 10px 20px;
        box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.2);">

        <div class="row"  style="margin-bottom:20px;">
            <div class="col-sm-10" style="text-align: center;font-size:20px;font-weight:bold;padding-left:25px;">Assessments</div>
            <div class="col-sm-2" style="text-align: right;"><a class="btn btn-outline-primary" [routerLink]="['/folio']">CREATE FOLIO</a></div>
        </div>

                <div class="row" *ngIf="model$ | async as model; else elseBlock">
                    <div class="col-sm-12">
                        <div *ngIf="model.candidates[0].status === 13 && model.candidates[0].totalTests > 0">                            
                                <div class="row" style="margin-bottom:20px;" *ngFor="let test of model.candidates[0].tests">
                                    <div class="col-sm-12">
                                        <div class="portfolio-main-card" style="margin-bottom:10px;">
                                            <div style="display:inline-block;width:50%;">{{test.testName}}</div>
                                            <div style="display:inline-block;width:30%;"><span style="margin-right:20px;color:#AEF2F5;">Test Score</span>{{test.testScore}}</div>
                                            <div style="display:inline-block;width:20%;"><span style="margin-right:20px;color:#AEF2F5;">Test Date</span>{{test.testDate}}</div>
                                        </div>
                                        <div class="portfolio-main-card-child margin-top-10">
                                            
                                            <div class="row" style="border-bottom:1px solid #fefefe ;padding:5px 0;">
                                                <div class="col-sm-3 text-sky-blue"><span>Category </span></div>
                                                <div class="col-sm-3 text-sky-blue"><span>Points Earned </span></div>
                                                <div class="col-sm-3 text-sky-blue"><span>Points Available </span></div>
                                                <div class="col-sm-3 text-sky-blue"><span>Avg Performance Range </span></div>
                                            </div>
                                            <div class="row" style="border-bottom:1px solid #fefefe ;padding:5px 0;" *ngFor="let testcategory of test.testCategories">
                                                <div class="col-sm-3">{{testcategory.category}}</div>
                                                <div class="col-sm-3">{{testcategory.pointsEarned}}</div>
                                                <div class="col-sm-3">{{testcategory.pointsAvailable}}</div>
                                                <div class="col-sm-3">{{testcategory.avgPerformanceRange}}</div>
                                            </div>
                                        </div>
                                    </div>
                                                       
                                </div>                
                            
                        </div>
                    </div>
                </div>
                
                <ng-template #elseBlock>
                    <tfoot>
                        <td>
                            You have not added any candidates.
                        </td>
                    </tfoot>
                </ng-template>
    
        
    </div>
            
</div>


<!-- <form [formGroup]="form" (ngSubmit)="submit()" class="form-reset" style="display:none">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">   
                <input type="text" class="form-control" formControlName="candidateId" placeholder="ETS Candiate ID" />
                <div *ngIf="f.candidateId.errors && submitted" class="text-danger">
                    <div *ngIf="f.candidateId.errors.required">The Candidate Id is required</div>
                    <div *ngIf="f.candidateId.errors.maxlength || f.candidateId.errors.minlength">The Candidate Id is 8 digits</div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-md btn-primary" type="submit">Add to Portfolio</button>            
        </div>
    </div>
</form> -->

