<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col">
        {{header()}}
      </div>
      <div class="col text-right">
        <span>{{ package.createdAt == package.modifiedAt ? 'REFRESHED ON ' : 'ADDED ON '}}</span>{{ package.modifiedAt | date: 'M/d/yyyy h:mm a'}}
      </div>
    </div>
  </div>
  <div *ngIf="package.typeId == PackageTypeEnum.OpenBadge || package.typeId == PackageTypeEnum.OpenBadgeConnect" class="card-body">
    <section app-open-badges [package]="package" [canDelete]="package.isOwner == true" class="clr-section">
    </section>
  </div>
  <div *ngIf="package.typeId != PackageTypeEnum.OpenBadge && package.typeId != PackageTypeEnum.OpenBadgeConnect" class="card-body">
    <app-clr-section [packageId]="package.id" [canDelete]="package.isOwner == true"></app-clr-section>
  </div>
</div>
