<div *ngIf="showSpinner == true; else theContent" class="d-flex flex-column">
  <app-spinner id="profile-spinner" [message]="message"></app-spinner>
</div>
<ng-template #theContent>
  <section>
      <span class="h1">Change Password</span>
      <div *ngIf="statusMessage != null && statusMessage != ''" [ngClass]="{'alert alert-success alert-dismissible': !isError, 'alert alert-danger alert-dismissible': isError}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{statusMessage}}
      </div>
      <div [ngClass]="{ 'alert alert-danger mt-2': modelErrors.length > 0 }" >
        <span *ngFor="let msg of modelErrors">{{msg}}</span>
      </div>
      <div class="row">
        <div class="col-md-6">
            <form #f="ngForm" novalidate (ngSubmit)="changePassword(f)">
                <div class="form-group">
                    <label for="oldPassword">Old Password</label>
                    <input type="password" name="oldPassword" id="oldPassword" required class="form-control" [(ngModel)]="vm.oldPassword" #oldPassword="ngModel"/>
                    <small [hidden]="oldPassword.valid || (oldPassword.pristine && !submitted)" class="text-danger">Please enter your old password</small>
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" name="password" id="password" required class="form-control" [(ngModel)]="vm.password" #password="ngModel"/>
                    <small [hidden]="password.valid || (password.pristine && !submitted)" class="text-danger">Please enter a new password</small>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" required class="form-control" [(ngModel)]="vm.confirmPassword" #confirmPassword="ngModel"/>
                    <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !submitted)" class="text-danger">Please enter the new password confirmation</small>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-lg">Update password</button>
            </form>
        </div>
      </div>
  </section>
</ng-template>
