@page
@model OpenCredentialPublisher.ClrWallet.Pages.Sources.DeleteModel

@{
    ViewData["Title"] = "Delete Connection";
}

<div class="row mt-5">
    <div class="col">
        <section class="default-container p-5">
            <h1>Delete Connection</h1>

            <div class="alert alert-primary">
                A CLR source is a platform which has one or more of your CLRs. This application will connect to the source and
                get your CLRs.
            </div>
            <div class="alert alert-danger">
                If you delete this connection, all the associated CLRs will be deleted from this application.
                This will <b>not</b> cause the source platform to delete your CLRs and you can get them back by reconnecting to the
                source.
            </div>

            <div asp-validation-summary="All" class="alert alert-danger mt-2"></div>

            @if (Model.Authorization != null)
            {
                <h3>Are you sure you want to delete this connection?</h3>
                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">Name</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(m => Model.Authorization.Source.Name)</dd>
                        <dt class="col-sm-2">URL</dt>
                        <dd class="col-sm-10">
                            <a href="@Html.DisplayFor(m => Model.Authorization.Source.Url)">
                                @Html.DisplayFor(m => Model.Authorization.Source.Url)
                            </a>
                        </dd>
                    </dl>

                    <form method="post">
                        <input type="submit" value="Delete Connection" class="btn btn-danger" /> |
                        <input type="submit" asp-page-handler="DeleteSource" asp-route-sourceId="@Model.Authorization.Source.Id"
                               value="Delete Source" class="btn btn-danger" /> |
                        <a asp-page="./Index">Back to List of Sources</a>
                    </form>
                </div>
            }
            else
            {
                <a asp-page="./Index">Back to List of Sources</a>
            }
        </section>
    </div>
</div>