<button (click)="topFunction()" id="topBtn" class="btn btn-outline-primary btn-sm" title="Go to top">Top</button>
<div class="row align-items-sm-end mt-2 mx-auto">
  <div class="col-12 col-sm-6 col-md col-lg col-xl mb-3 mb-sm-0">
    <app-profile></app-profile>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-7 col-xl-8 mb-3 mb-sm-0">
      <app-dashboard></app-dashboard>
  </div>
</div>
<div app-packages class="row mt-0 mt-sm-3">
</div>
<div app-upload (fileUploaded)="fileUploaded($event)" class="row  mt-0 mt-sm-3">
</div>
