<section class="login-form">
  <div *ngIf="infoMessage" class="alert alert-info mt-2">
    {{infoMessage}}
  </div>
  <form #f="ngForm" novalidate (ngSubmit)="login(f)">
    <span class="h4">ENTER YOUR LOGIN INFORMATION</span>
    <div asp-validation-summary="All" [ngClass]="{ 'alert alert-danger mt-2': modelErrors.length > 0 }" >
      <span *ngFor="let msg of modelErrors">{{msg}}</span>
    </div>
    <div class="form-group">
    <div class="input-group my-3">
      <div class="input-group-prepend mr-3">
          <span><i class="fal fa-user fa-2x icon-color"></i></span>
      </div>
      <input id="email" type="text" required name="email" class="form-control" placeholder="Email" [ngModel]="credentials.email" #email="ngModel" tmFocus validateEmail>
    </div>
    <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger form-text text-right pr-2">Please enter a valid email</small>

  </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend mr-3">
          <span><i class="fal fa-lock-alt fa-2x icon-color"></i></span>
      </div>
      <input type="password" class="form-control" id="password" required name="password" placeholder="Password" ngModel>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend mr-3">
          <span class="blank-icon"></span>
      </div>
      <button type="submit" class="btn btn-tertiary btn-login" [disabled]="loginSpinner">
        Login
        <span class="spinner-border spinner-border-sm" role="status" *ngIf="loginSpinner" aria-hidden="true"></span>
      </button>
    </div>
    <div class="input-group">
      <div class="input-group-prepend mr-3">
          <span class="blank-icon"></span>
      </div>
      <div class="form-control-plaintext">
        <a id="resend-confirmation" [routerLink]="['/access/resend-confirmation']">Resend Account Confirmation Email</a> <br />
          <a id="forgot-password" [routerLink]="['/access/forgot-password']">Forgot your password?</a> <br />
          <a [routerLink]="['/access/register']">Register as a new user</a>
      </div>
  </div>
  </form>
  <ng-container>
    <hr />
    <span class="h4">OTHER WAYS TO LOGIN</span>
    <div class="row">
      <div class="col mt-2">
        <span class="h4">Login using mobile wallet</span>
        <br />
        <a class="btn btn-tertiary" [routerLink]="['/access/login-with-proof']">Login with Proof</a>
      </div>
      <div class="col mt-2">
        <ng-container *ngIf="showMicrosoftLogin">
          <span class="h4">Login using MS Authenticator</span>
          <br />
          <a class="btn btn-tertiary" [routerLink]="['/access/az-login-with-proof']">Login with Azure</a>
        </ng-container>
      </div>
    </div>
  </ng-container>
    <hr />
    <span class="h4">
      DO YOU WANT TO VERIFY A CREDENTIAL ISSUED BY US?<br />
      <small class="text-muted">Verifiers click the link below</small>
    </span>
    <div class="row">
      <div class="col mt-2">
        <a [routerLink]="['/verifier']">Credential Verification</a>
      </div>
    </div>

</section>
