

@media (min-width: 565px) {
  .login-form {
    margin-top: 120px;
  }
}

@media (max-width: 564px) {
  .login-form {
    padding: 50px;
    width: 100%;
  }
}


.new-user-alert{padding-top:2.5rem}
