@model CredentialPackageModel
@{
    ViewData["Title"] = "Comprehensive Learner Record";
}

<button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>

@* Header *@

@if (Model.TypeId == PackageTypeEnum.VerifiableCredential)
{
    @Html.DisplayFor(x => x.VerifiableCredential, "VerifiableCredential")
}
@if (Model.TypeId == PackageTypeEnum.Clr)
{
    @Html.DisplayFor(x => x.ClrViewModel, "Clr")
}
