@model CredentialPackageViewModel
@{
    ViewData["Title"] = "Comprehensive Learner Record";
}

<button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>

@* Header *@

@if (Model.CredentialPackage.TypeId == PackageTypeEnum.VerifiableCredential)
{
    @Html.DisplayFor(x => x.VerifiableCredentialVM, "VerifiableCredential")
}
@if (Model.CredentialPackage.TypeId == PackageTypeEnum.Clr)
{
    @Html.DisplayFor(x => x.ClrVM, "Clr")
}

