@model OpenCredentialPublisher.ClrLibrary.Models.CryptographicKeyDType

@if (Model != null)
{
    <dl class="row">
        <dt class="col-12 col-sm-4 col-md-3">Public Key</dt>
        <dd class="col-12 col-sm-8 col-md-9">
            <a href="@Model.Id">@Model.Id</a>
        </dd>
        @if (Model.Owner != null)
        {
            <dt class="col-12 col-sm-4 col-md-3">Owner</dt>
            <dd class="col-12 col-sm-8 col-md-9">@Model.Owner</dd>
        }
        @*@if (Model.PublicKeyPem != null)
        {
            <dt class="col-12 col-sm-4 col-md-3">Key</dt>
            <dd class="col-12 col-sm-8 col-md-9"><pre>@Model.PublicKeyPem</pre></dd>
        }*@
    </dl>
}