@page
@model OpenCredentialPublisher.ClrWallet.Pages.Links.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row mt-5">
    <div class="col">
        <section class="default-container p-5">
            <h1>Delete</h1>

            <div class="alert alert-primary">
                A link is a URL you can share with people that lets them see your CLR. The people that click on the link will
                only be able to see the one CLR you select. You can see how many times people have displayed your CLR in the
                table below.
            </div>
            <div class="alert alert-danger">
                If you delete this link, anyone that clicks on the link will see a "not found" message.
                This will <b>not</b> delete the CLR and you can create and share another link to the CLR.
            </div>

            <div asp-validation-summary="ModelOnly" class="alert alert-danger mt-2"></div>

            @if (Model.Link != null)
            {
                <h3>Are you sure you want to delete this link?</h3>
                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">Nickname</dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Link.Nickname)
                        </dd>
                    </dl>

                    <form method="post">
                        <input type="submit" value="Delete" class="btn btn-outline-danger btn-lg" /> |
                        <a asp-page="./Index">Back to List of Links</a>
                    </form>
                </div>
            }
            else
            {
                <a asp-page="./Index">Back to List of Links</a>
            }
        </section>
    </div>
</div>