@page "{id}/{key:maxlength(16)?}"
@model OpenCredentialPublisher.ClrWallet.Pages.Links.DisplayModel
@{
    Layout = "Shared/_LinkLayout";
    ViewData["Title"] = "Comprehensive Learner Record";
}

@* Structured Data *@



<style>
    .pg-info, .bg-info, .pg-info:hover, .bg-info:hover {
        background-color: #9206EA !important;
        border-color: #9206EA !important;
    }

    .btn-info {
        background-color: #9206EA !important;
        border-color: #9206EA !important;
    }
</style>

@if (Model.ShowData)
{
    <script type="application/ld+json">
    @Html.Raw(Model.Clr.RawClrDType.ToJson())
    </script>
}

<div class="text-center mb-3">
    <h1 class="display-xs-2 display-sm-3 display-md-4">Comprehensive Learner Record</h1>
</div>

@if (Model.ShowData)
{
<p class="text-center">
    Welcome to the Open Credential Publisher.

    You are viewing a <a href="#about-clr">Comprehensive Learner Record</a>
</p>
}

@if (Model.RequiresAccessKey && !Model.ShowData)
{
    <div class="row">
        <div class="col">
            <p class="lead">
                Welcome to the @Model.SiteSettings?.SiteName. This site allows individuals to exchange their transcripts and learner credentials with organizations including employers, colleges and military recruiters.
            </p>
            <p>
                You likely arrived at this page by following a link from an email or one located at the bottom of a PDF.  Accompanying that link is an access code.  Please enter it below to view the information. If you are unable to locate an access code, please contact the individual who shared the credential to request a new link and access code.
            </p>
        </div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col col-sm-6 col-md-5 col-lg-4 col-xl-4">
            <section class="default-container p-5">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger mt-2"></div>
                <form method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend mr-3">
                            <span class="secure-icon"></span>
                        </div>
                        <input type="password" asp-for="AccessKey" placeholder="Access Key" class="form-control" />
                        <span asp-validation-for="AccessKey" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-outline-primary btn-lg float-right" asp-page="Display" asp-page-handler="access">Submit</button>
                </form>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="font-12">
                <u>About ND Electronic Transcripts</u> <br />

                North Dakota eTranscripts is a free high school transcript exchange system built through the Statewide Longitudinal Data System, allowing for high schools to exchange electronic records within the state as well as to out-of-state colleges. Since the inception of eTranscripts, over 40,000 high school transcripts have been sent, proving the state eTranscripts system saves significant time and cost, which increases efficiencies for both high school and college offices.  The Open Credential Publisher consumes this eTranscript, packages, and signs it as a verifiable credential in the widely accepted IMS Global CLR format for higher education institutions. The student also has the ability to push their Transcript to a cryptographically verifiable mobile wallet.
            </p>
        </div>
    </div>

}



@if (Model.ShowData)
{
    <div class="row">
        <div class="col mb-3">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-outline-primary btn-lg" asp-page="/Credentials/Index">Your Credentials</a>
            }
        </div>
    </div> <!-- Summary View -->

    @Html.DisplayFor(m => m.Clr, "Summary", new { ShowDownloadVCJsonButton = Model.ShowDownloadVCJsonButton, Id = Model.Id, AccessKey = Model.AccessKey })

    <hr class="my-5" />
    <button onclick="topFunction()" id="topBtn" class="btn btn-outline-primary btn-sm" title="Go to top">Top</button>

    @Html.DisplayFor(m => m.Clr, "Clr", "", new { HideClrVerification = true })

    <div id="about-clr" class="row">
        <div class="col">
            <p class="font-16">
                <u>About Comprehensive Learner Records (CLR)</u> <br />
                The IMS Global Comprehensive Learner Record (CLR) is the new generation of secure and verifiable learning and employment records supporting all nature of academic and workplace recognition and achievements including courses, competencies and skills and employer-based achievements and milestones.
            </p>
        </div>
    </div>
}
@section Scripts
{
    @{ await Html.RenderPartialAsync("_DisplayScriptsPartial"); }
}
