@page
@model OpenCredentialPublisher.ClrWallet.Pages.Links.NotAvailableModel
@{
    ViewData["Title"] = "Comprehensive Learner Record";
}

<div class="row mt-5">
    <div class="col">
        <section class="default-container p-5 text-center font-16">
            The credential associated with that link is no longer available for viewing. Only the credential owner may provide a new link.
        </section>
    </div>
</div>


@section Scripts
{
    @{ await Html.RenderPartialAsync("_DisplayScriptsPartial"); }
}
