@page
@model OpenCredentialPublisher.ClrWallet.Pages.Links.SharePageModel
@{
    ViewData["Title"] = "Email your credential";
}

<div class="row mt-5">
    <div class="col">
        <section class="default-container p-5">
            <h1>Email your credential</h1>

            

            @if (Model.Link != null)
            {
                var dict = new Dictionary<string, string> { { "linkId", Model.Link.Id } };
                <div>
                    <div class="row">
                        <div class="col">
                            <h5>Credential shared: <b>@Html.DisplayFor(model => model.Link.Nickname)</b></h5>
                        </div>
                        @*<div class="col">
                        </div>*@
                    </div>
                    <hr />
                    <form method="post">
                        @if (Model.Recipients != null && Model.Recipients.Any())
                        {
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <a class="btn btn-outline-secondary btn-sm mb-3" asp-page="/Recipients/Create" asp-all-route-data="dict">Create new recipient</a>
                                    </div>
                                    <div class="form-group">
                                        <label class="">Send to:</label>
                                        <select class="form-control" name="RecipientId" asp-for="RecipientId" asp-items="Model.Recipients"></select>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Send" class="btn btn-outline-primary btn-lg float-right" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <hr />
                                    <a asp-page="./Index">Back to shared credentials</a>

                                </div>
                            </div>


                            }
                                            else
                                            {
                            <dl class="row">
                                
                                <dd class="col">
                                    <div class="alert alert-warning">
                                        <p>
                                            You haven't created any recipients. Click this to <a class="btn btn-outline-primary btn-lg" asp-page="/Recipients/Create" asp-all-route-data="dict">Create a recipient</a>
                                        </p>
                                    </div>
                                    <a asp-page="./Index">Back to shared credentials</a>
                                </dd>
                            </dl>}
                        <input type="hidden" asp-for="Link.Id" />

                        
                    </form>
                </div>
            }
            else
            {
                <a asp-page="./Index">Back to shared credentials</a>
            }
        </section>
    </div>
</div>
