@page
@model OpenCredentialPublisher.ClrWallet.Pages.Links.SharePageModel
@{
    ViewData["Title"] = "Share Link";
}

<div class="row mt-5">
    <div class="col">
        <section class="default-container p-5">
            <h1>Share your credential by Email</h1>

            <div class="alert alert-primary">
                <p>
                    Use this page to share credentials through email 
                </p>
            </div>

            @if (Model.Link != null)
            {
                var dict = new Dictionary<string, string> { { "linkId", Model.Link.Id } };
                <h4>You are sharing this credential <b>@Html.DisplayFor(model => model.Link.Nickname)</b></h4>
                <div>
                    <hr />
                    <form method="post">
                        @if (Model.Recipients != null && Model.Recipients.Any())
                        {
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Who are you sending this to?</label>
                                        <select class="form-control" name="RecipientId" asp-for="RecipientId" asp-items="Model.Recipients"></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Not seeing who you are looking for?</label>
                                        <a class="btn btn-outline-secondary btn-sm" asp-page="/Recipients/Create" asp-all-route-data="dict">Create a recipient</a>
                                    </div>
                                    <input type="submit" value="Share" class="btn btn-outline-primary btn-lg" />
                                    <hr />
                                    <a asp-page="./Index">Back to List of Links</a>
                                </div>
                            </div>


                            }
                                            else
                                            {
                            <dl class="row">
                                
                                <dd class="col">
                                    <div class="alert alert-warning">
                                        <p>
                                            You haven't created any recipients. Click this to <a class="btn btn-outline-primary btn-lg" asp-page="/Recipients/Create" asp-all-route-data="dict">Create a recipient</a>
                                        </p>
                                    </div>
                                    <a asp-page="./Index">Back to List of Links</a>
                                </dd>
                            </dl>}
                        <input type="hidden" asp-for="Link.Id" />

                        
                    </form>
                </div>
            }
            else
            {
                <a asp-page="./Index">Back to List of Links</a>
            }
        </section>
    </div>
</div>
