<div class="row mt-5">
  <div id="divCred" class="col">
    <div *ngIf="showSpinner == true; else theContent" class="row d-flex flex-column">
      <app-spinner id="profile-spinner" [message]="message"></app-spinner>
    </div>
    <ng-template #theContent>
      <section class="default-container p-5">
        <div class="row justify-content-center mb-4">
          <span class="h1">Select Badges to Include</span>
        </div>
        <div class="row">
          <div [ngClass]="{ 'alert alert-danger mt-2': modelErrors.length > 0 }" >
            <span *ngFor="let msg of modelErrors">{{msg}}</span>
          </div>
          <div *ngFor="let badge of backpackPackage.badges" class="col-4">
            <div class="row">
              <div class="offset-4 col-8">
                <div class="row justify-content-start align-items-center">
                  <span class="badge badge-pill badge-success mr-2" [hidden]="!badge.isNew">NEW</span>
                  <input class="mr-2" [checked]="badge.isSelected" type="checkbox" name="isSelected" (change)="selectionChange(badge)" />
                  <label for="isSelected" class="form-check-label">Include</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                  <img class="badgr-image" alt="Badge image" [src]="badge.badgeImage" [title]="'Image for Badge:' + badge.badgeName">
              </div>
              <div class="col-8">
                <div class="row">
                  <a *ngIf="badge.idIsUrl == true" [href]="badge.badgrAssertionId" target="_blank"> <span class="h2">{{badge.badgeName}}</span> </a>
                  <a *ngIf="badge.idIsUrl == false" [href]="'https://api.badgr.io/public/assertions/' + badge.badgrAssertionId" target="_blank"> <span class="h2">{{badge.badgeName}}</span> </a>
                </div>
                <div class="row">
                <span class="h2">{{badge.issuerName}}</span>
                </div>
                <div class="row">
                <span class="small-text">{{badge.badgeDescription}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <button type="button" (click)="selectBadges()" class="btn btn-lg btn-primary" title="Submit">Submit</button>
        </div>
      </section>
    </ng-template>
  </div>
</div>
