@page
@{
    ViewData["Title"] = "Release Notes";
}

<h1>Release Notes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>July 1, 2020</td>
        <td>
            <ul>
                <li>Fixed achievement tags display</li>
                <li>Fixed hosted verification</li>
                <li>Display isParentOf associations</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>June 11, 2020</td>
        <td>
            <ul>
                <li>Fixed display of extensible vocabularies</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>May 27, 2020</td>
        <td>
            <ul>
                <li>Incorporate May 21, 2020 spec updates</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>April 1, 2020</td>
        <td>
            <ul>
                <li>Added support for signed CLRs.</li>
                <li>Added support for CLR-level achievements.</li>
                <li>Added support for result description criteria and result criteria.</li>
                <li>Caught up with spec data model changes in GitHub repo.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>February 11, 2020</td>
        <td>
            <ul>
                <li>Update to Feb 7 2020 spec.</li>
                <li>Add JSON validation on import.</li>
                <li>Fix bugs in verification.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>January 31, 2020</td>
        <td>
            <ul>
                <li>Add IMS login.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>December 17, 2019</td>
        <td>
            <ul>
                <li>Initial release.</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
