
<div class="row" *ngIf="model$ | async as model">
    <div class="col-sm-12">
        <h2>Associate your wallet app with your account</h2>
        <p>
            Open your wallet app on your iOS or Android device and scan the QR Code below.  
            If you are already viewing this on your device, save the QR Code to your device and open the image using the wallet app. 
        </p>
        <div class="qrcode-container">
            <img class="qrcode" [src]="model.image | safeUrl" alt="Save QR Code to device or open app to scan" />
        </div>
        <p class="text-center">
            This code expires at {{model.expirationDate | date: 'medium'}} <br />
            <a class="text-center" [href]="model.image | safeUrl" download="qrcode.png">Download</a>
        </p>
        
    </div>
</div>  