<div class="row credential-row mb-3">
    <div class="col">
        <div class="card mt-3 mb-3">
            <div class="h5 card-header pg-info" data-toggle="collapse" data-target=".vc-section">Verifiable Credential</div>
            <div class="card-body collapse vc-section">
                <div class="card border-0">
                    <dl class="row">
                        <dt class="col-12 col-sm-4 col-md-3">Id</dt>
                        <dd class="col-12 col-sm-8 col-md-9">{{vm.identifier}}</dd>
                        <dt class="col-12 col-sm-4 col-md-3">Issuer</dt>
                        <dd class="col-12 col-sm-8 col-md-9">{{vm.issuer}}</dd>
                        <dt class="col-12 col-sm-4 col-md-3">Issued</dt>
                        <dd class="col-12 col-sm-8 col-md-9">{{vm.issuedOn | date: 'M/d/yyyy' }}</dd>
                        <dt class="col-12 col-sm-4 col-md-3">Credentials</dt>
                        <dd class="col-12 col-sm-8 col-md-9">{{vm.credentialsCount}}</dd>

                    </dl>
                </div>
            </div>
            <div class="card-footer collapse vc-section">
                <button class="btn btn-outline-tertiary text-black btn-sm float-right" data-toggle="collapse" data-target="#vc-what">What is this?</button>
                <p class="collapse" id="vc-what">
                    Verifiable Credential: Credential with the ability to validate the information contained it.
                </p>
            </div>
        </div>

        <!-- Proof -->

        <div class="card">
            <div class="card-header bg-info h5" data-toggle="collapse" data-target=".vc-proof">Proof</div>
            <div class="card-body collapse vc-proof" id="vc-proof">
                <app-proof [pkgId]="package.id" [proof]="vm.proof"></app-proof>
            </div>
            <div class="card-footer collapse vc-proof">
                <button class="btn btn-outline-tertiary text-black btn-sm float-right" data-toggle="collapse" data-target="#vc-proof-what">What is this?</button>
                <p class="collapse" id="vc-proof-what">
                    Proof: This is the signature that proves the documents authenticity
                </p>
            </div>
        </div>
        <!-- CLRs -->

        <ng-container *ngFor="let clrId of package.clrIds">
          <app-clr [clrId]="clrId" [isShare]="false">
          </app-clr>
        </ng-container>

    </div>
</div>
