<div id="package.id" class="badge-section card-section-body">
  <div *ngIf="showSpinner == true; else theContent" class="row d-flex flex-column">
    <app-spinner id="profile-spinner" [message]="message"></app-spinner>
  </div>
  <ng-template #theContent>
    <div *ngIf="backpackPackage.isBadgr == true; else nonbadgrContent" class="row">
      <div [ngClass]="{ 'alert alert-danger mt-2': modelErrors.length > 0 }" >
        <span *ngFor="let msg of modelErrors">{{msg}}</span>
      </div>
      <div *ngFor="let badge of backpackPackage.badges" class="col-4">
        <div class="row">
          <div class="col-4">
              <img class="badgr-image" alt="Badge image" [src]="badge.badgeImage" [title]="'Image for Badge:' + badge.badgeName">
          </div>
          <div class="col-8">
            <div class="row">
              <a *ngIf="badge.idIsUrl == true" [href]="badge.badgrAssertionId" target="_blank"> <span class="h2">{{badge.badgeName}}</span> </a>
              <a *ngIf="badge.idIsUrl == false" [href]="'https://api.badgr.io/public/assertions/' + badge.badgrAssertionId" target="_blank"> <span class="h2">{{badge.badgeName}}</span> </a>
            </div>
            <div class="row">
            <span class="h2">{{badge.issuerName}}</span>
            </div>
            <div class="row">
            <span class="small-text">{{badge.badgeDescription}}</span>
            </div>
          </div>
        </div>
        <div class="row justify-content-around">
          <a id="embed_button" href="javascript:void(0)" (click)="embedClr(badge)">Embed in CLR</a>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <div class="row align-items-center">
          <a class="btn btn-lg btn-outline-danger text-danger" *ngIf="canDelete == true" [routerLink]="['/credentials/delete', package.id]" title="Delete Backpack">
            <i class="fal fa-trash-alt fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
    <ng-template #nonbadgrContent>
      <section *ngFor="let badge of backpackPackage.badges" class="row my-2">
        <div class="col-6">
          <div class="col-1"></div>
          <div class="col-11">
            <span class="h6 card-section-header text-wrap">{{badge.badgeName}}</span>
          </div>
        </div>
        <div class="col-2 text-center">
          <a class="font-18" [routerLink]="['/credentials/display', package.id]">
            Details
          </a>
        </div>
        <div class="col-4"></div>
      </section>
    </ng-template>
  </ng-template>
</div>
