<div class="col">
  <div class="credentials-container p-5">
    <div class="row justify-content-end">
      <div class="col-12 col-md-4 align-content-center">
        <div class="h1 text-center">Credentials</div>
      </div>
      <div class="col-12 col-md-4 text-right">
        <button type="button" class="btn btn-lg btn-outline-primary d-none">CREATE FOLIO</button>
      </div>
    </div>
    <div *ngIf="showSpinner == true; else credentialsContent" class="d-flex flex-column">
      <app-spinner id="profile-spinner" [message]="'loading credentials'"></app-spinner>
    </div>
    <ng-template #credentialsContent>
      <div class="row justify-content-start">
        <div asp-validation-summary="All" [ngClass]="{ 'alert alert-danger mt-2': modelErrors.length > 0 }">
          <span *ngFor="let msg of modelErrors">{{msg}}</span>
        </div>
      </div>

      <div class="row mr-2 mb-2 pr-1 pl-2">
        <div class="col align-self-center">
          <a [ngClass]="{ 'disabled': packageList.packages.length == 0 }" [routerLink]="['/links']"><span
              class="h2">Manage your shared credentials</span></a>
        </div>
        <div class="col align-self-center">
          <div class="row justify-content-end">
            <a *ngIf="packageList.enableSource == true" class="mr-2" [routerLink]="['/sources/source-list']">Connect to
              a source</a>
            <a *ngIf="packageList.enableCollections == true" [routerLink]="['/credentials/create']">Create a
              collection</a>
          </div>
        </div>
      </div>
      <div *ngIf="packageList.packages.length == 0; else filterToolbar" class="card text-white bg-info mb-4">
        <div class="card-body">
          <div class="card-text">
            Connect to a source or upload a VC/CLR file you received directly from a publisher.
          </div>
        </div>
      </div>
      <ng-template #filterToolbar>
        <div class="btn-toolbar mb-3 justify-content-end" role="toolbar">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon">Filter</div>
            </div>
          </div>
          <div class="btn-group">
            <button type="button" class="btn"
              [ngClass]="{'btn-primary': filtering == 'all', 'btn-dark': filtering != 'all'}"
              (click)="filter('all')">All</button>
            <button type="button" class="btn"
              [ngClass]="{'btn-primary': filtering == 'badges', 'btn-dark': filtering != 'badges'}"
              (click)="filter('badges')">Badges</button>
            <button type="button" class="btn"
              [ngClass]="{'btn-primary': filtering == 'clrs', 'btn-dark': filtering != 'clrs'}"
              (click)="filter('clrs')">CLRs</button>
            <button type="button" class="btn"
              [ngClass]="{'btn-primary': filtering == 'collection', 'btn-dark': filtering != 'collection'}"
              (click)="filter('collection')">Collections</button>
            <button type="button" class="btn"
              [ngClass]="{'btn-primary': filtering == 'vc', 'btn-dark': filtering != 'vc'}"
              (click)="filter('vc')">VCs</button>
            
          </div>
        </div>
        <div *ngIf="packages.length == 0" class="mt-3">
          <div class="alert alert-info">
            You do not have any of that type of credential.
          </div>
        </div>
      </ng-template>
      <div *ngFor="let package of packages" class="row credential-row mb-3">
        <div app-package [package]="package" class="col">
        </div>
      </div>
      
    </ng-template>
  </div>
</div>