@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<section>
    <p>
        Your email has been confirmed.
    </p>

    <a id="login" class="text-right" asp-page="./Login">Return to Login</a>
</section>