@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<section class="logout-form">
    <p>You have successfully logged out of the application.</p>

    <a id="login" class="text-right" asp-page="./Login">Return to Login</a>
</section>