@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

    <section class="login-form">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="margin-bottom-40">
            <h4>CREATE A NEW ACCOUNT</h4>

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input placeholder="Email" asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input placeholder="Password" asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input placeholder="Confirm Password" asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary mr-3" id="btn-register">REGISTER</button>
            <a id="login" asp-page="./Login">CANCEL</a>
        </form>
       
        @*<hr />
        <h4>ACCOUNT REGISTRATION SUGGESTIONS</h4>

        <div class="form-group">
            <label>Email</label>
            <p class="grey margin-right-20">Please use a personal, for your use only (for example: not shared with significant other, or family), email account whose access is not conditional upon continued employment, course enrollment, or active membership.</p>
        </div>
        <div class="form-group">
            <label>Password</label>
            <ul class="grey margin-right-20">
                <li>Must be at least 8 characters in length</li>
                <li>
                    Must contain at least one of the following:
                    <ul>
                        <li>Lowercase</li>
                        <li>Uppercase</li>
                        <li>Number (0-9)</li>
                        <li>Symbol (!#$%^)</li>
                    </ul>
                </li>
                <li>Password may not have been part of the list of known breached passwords (haveibeenpwned.com)</li>
            </ul>
        </div>*@
    </section>

