@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmation";
}

<section class="register-confirmation-form p-5">
    <h2>@ViewData["Title"]</h2>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p>
                For testing purposes, you may <a id="confirm-link" href="@Model.EmailConfirmationUrl">click here to confirm your account</a>.
                Otherwise, check your email to confirm your account.
            </p>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
</section>
