

.login-form {
	padding: 50px;

}

@media (min-width: 565px) {
	.login-form {
		width: 565px;
	}
}

@media (max-width: 564px) {
	.login-form {
		width: 100%;
	}
}
.connection-qr-code {
	max-width: 300px;
	width: 100%;
	height: inherit;
}

