<div class="tw-page-wrapper d-flex flex-column" [ngClass]="{ 'login-background': (onLoginPage$ | async) == true }" >
  <app-nav-menu *ngIf="appService.disconnectedPage == false"></app-nav-menu>
  <div class="parent-spacer" *ngIf="(onLoginPage$ | async) == true || appService.disconnectedPage == true">&nbsp;</div>
  <div class="tw-layout-container flex-column flex-fill container" [ngClass]="{ 'd-flex': (onLoginPage$ | async) == false }">
    <router-outlet></router-outlet>
    <div class="flex-fill">&nbsp;</div>
    <div class="row justify-content-center">
      <p-toast class="tw-toast" position="bottom-center" key="main" [baseZIndex]="5000"></p-toast>
    </div>

    <footer *ngIf="footerSettingsVM.showFooter == true" class="border-top footer text-muted  mt-0 mt-sm-3">
      <div class="container py-3">
          <div class="row text-center font-12">
              <div class="col"><a href="{{footerSettingsVM.contactUsUrl}}">Contact Us</a></div>
              <div class="col"><a href="{{footerSettingsVM.termsOfServiceUrl}}">Terms of Use</a></div>
              <div class="col"><a href="{{footerSettingsVM.privacyPolicyUrl}}">Privacy Policy</a></div>
          </div>
      </div>
    </footer>
  </div>
</div>
