<section class="register-form">
    <form #f="ngForm" novalidate (ngSubmit)="register(f)">
        <span class="h4">CREATE A NEW ACCOUNT</span>
        <div asp-validation-summary="All" [ngClass]="{ 'alert alert-danger mt-2': modelErrors.length > 0 }" >
          <span *ngFor="let msg of modelErrors">{{msg}}</span>
        </div>
        <div class="input-group">
            <input placeholder="Username" required name="username" class="form-control" ngModel/>
        </div>
        <div class="input-group">
            <input placeholder="Display Name" name="displayName" class="form-control" ngModel/>
        </div>
        <div class="input-group">
            <input placeholder="Email" name="email" class="form-control" ngModel/>
        </div>
        <div class="input-group">
            <input type="password" required placeholder="Password" name="password" class="form-control" ngModel/>
        </div>
        <div class="input-group mb-4">
            <input type="password" required placeholder="Confirm Password" name="confirmPassword" class="form-control" ngModel/>
        </div>
        <button type="submit" class="btn btn-outline-primary mr-3" id="btn-register" [disabled]="f.invalid || showSpinner">REGISTER</button>
        <a id="cancel" [routerLink]="['/access/login']" >CANCEL</a>

        <p class="mt-3"><small><sup>*</sup>Please complete all fields to enable the REGISTER button.</small></p>
    </form>
</section>

