<div *ngIf="showSpinner == true; else theContent" class="d-flex flex-column">
  <app-spinner id="profile-spinner" [message]="message"></app-spinner>
</div>
<ng-template #theContent>
  <section>
      <span class="h1">Profile</span>
      <div *ngIf="statusMessage != null && statusMessage != ''" [ngClass]="{'alert alert-success alert-dismissible': !isError, 'alert alert-danger alert-dismissible': isError}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{statusMessage}}
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-reset">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label >Username</label>
                      <div *ngIf="profile.emailIsConfirmed">
                          <input formControlName="username" class="form-control"/>
                      </div>
                      <div *ngIf="!profile.emailIsConfirmed">
                          {{profile.username}}<br>
                          <small>To update your username, please <a asp-page="/Account/Manage/Email">verify your email address</a>.</small>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Display Name</label>
                      <input formControlName="displayName" class="form-control" />
                  </div>
                  <div class="form-group">
                      <label>Phone Number</label>
                      <input formControlName="phoneNumber" class="form-control" />
                  </div>
                  <button id="update-profile-button" type="submit" class="btn btn-outline-primary btn-lg">Save</button>
              </div>
          </div>
      </form>
  </section>
</ng-template>
