
<form [formGroup]="form" (ngSubmit)="submit()" class="form-reset">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Add Candidate Id</label>
                <input type="text" class="form-control" formControlName="candidateId" />
            </div>
            <div *ngIf="f.candidateId.errors && submitted" class="text-danger">
                <div *ngIf="f.candidateId.errors.required">The Candidate Id is required</div>
                <div *ngIf="f.candidateId.errors.maxlength || f.candidateId.errors.minlength">The Candidate Id is 8 digits</div>
              </div>
        </div>
    </div>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="model$ | async as model; else elseBlock">
        <tr *ngFor="let candidate of model.candidates; index as i">
            <td>
                {{candidate.candidateId}}
            </td>
        </tr>
    </tbody>
    
</table>

<ng-template #elseBlock>
    <tfoot>
        <td>
            You have not added any candidates.
        </td>
    </tfoot>
</ng-template>