<section class="login-form">
	<ng-container>
		<span class="h1">Email Credential</span>
		<hr />

    <p>
      Thanks for verifying your email address.  Please scan the following QR Code with the Microsoft Authenticator application to receive your credential.
    </p>

    <div [ngClass]="{ 'alert alert-danger mt-2': modelErrors.length > 0 }" >
      <span *ngFor="let msg of modelErrors">{{msg}}</span>
    </div>

    <div class="alert alert-info">
      If you do not already have Microsoft Authenticator installed on your phone, please get it here:
      <a target="_blank" href="https://aka.ms/VC/get-authenticator" class="btn btn-outline-primary" >Get Authenticator</a>
    </div>

    <div class="row">
      <div class="col">
        <div *ngIf="working == true" class="row justify-content-around">
          <img class="connection-qr-code" [src]="imageTransform()" />
        </div>
        <div class="row justify-content-around" id="pinCodeText"  *ngIf="working == true">Verification Code:{{getProofResponse.pin}}</div>
      </div>
    </div>
  </ng-container>
  <a class="btn btn-secondary float-right mr-2 font-16" [routerLink]="['/access/az-login-with-proof']">Cancel</a>
  <div *ngIf="working == true" class="d-flex flex-column">
    <app-spinner id="profile-spinner" [message]="message"></app-spinner>
    <hr />
  </div>
</section>

