@page
@model OpenCredentialPublisher.ClrWallet.Pages.Connect.IndexModel
@{
}
<div class="row mt-5">
    <div class="col">
        <section class="default-container p-5">
            <h2>Connection Request</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <p>
                Do you want to add your data from @Model.GetModel.Issuer? <br />
                Click YES to continue.
            </p>
            <form method="post">
                <button type="submit" name="" class="btn btn-outline-primary btn-lg">YES</button> <a class="btn btn-outline-secondary btn-lg" asp-page="/Index">NO</a>
            </form>
        </section>
    </div>
</div>