<section id="set-password-form">
	<h2>Set Password</h2>
    <h4>Set your password.</h4>
    <hr />
    <form #f="ngForm" novalidate (ngSubmit)="set(f)">
        <div *ngIf="modelErrors && modelErrors.length > 0">
			<div class="alert alert-danger mt-2">
				<div *ngFor="let msg of modelErrors">{{msg}}</div>
			</div>
		</div>
    <app-password-requirements></app-password-requirements>
        <div class="form-group">
            <input name="password" class="form-control" placeholder="Password" [ngModel]="setPasswordForm.password" #password="ngModel" />
            <small [hidden]="password.valid || (password.pristine && !submitted)" class="text-danger">Please enter a valid password</small>
        </div>
        <div class="form-group">
            <input name="confirmPassword" class="form-control" placeholder="Confirm Password" [ngModel]="setPasswordForm.confirmPassword" #confirmPassword="ngModel" />
            <small [hidden]="confirmPassword != password || (confirmPassword.pristine && !submitted)" class="text-danger">Passwords do not match</small>
        </div>
        <button type="submit" class="btn btn-outline-primary mr-3"  id="btn-set-password" >Submit</button>
    </form>
</section>
