@using OpenCredentialPublisher.Data.Options;
@using Microsoft.Extensions.Options;
@inject IOptions<SiteSettingsOptions> SiteSettings

<footer class="border-top footer text-muted mt-auto">
    <div class="container py-3">
        <div class="row text-center font-12">
            <div class="col"><a href="@SiteSettings?.Value?.ContactUsUrl" target="_blank">Contact Us</a></div>
            <div class="col"><a href="@SiteSettings?.Value?.TermsOfUseUrl" target="_blank">Terms of Use</a></div>
            <div class="col"><a href="@SiteSettings?.Value?.PrivacyPolicyUrl" target="_blank">Privacy Policy</a></div>
        </div>
    </div>
</footer>
