<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OPEN CREDENTIAL PUBLISHER</title>
    
    <partial name="_StylesPartial" />
</head>
<body>
    <partial name="_NavPartial" />
    <div id="loader" style="display:none"></div>
    <partial name="_CookieConsentPartial" />
    <div class="container">
        @RenderBody()
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy;2020 IMS Global Learning Consortium, Inc. All Rights Reserved. <a href="https://www.imsglobal.org/privacystatement.html">IMS Privacy Policy</a>
        </div>
    </footer>*@

    <partial name="_ScriptsPartial" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
