@using OpenCredentialPublisher.Data.Options;
@using Microsoft.Extensions.Options;
@inject IOptions<SiteSettingsOptions> SiteSettings
<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="_TitlePartial" />
    <partial name="_StylesPartial" />
</head>
<body class="h-100 d-flex flex-column">
    <div id="loader" style="display:none"></div>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="mb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_FooterPartial" />

    <partial name="_ScriptsPartial" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
