@using OpenCredentialPublisher.Data.Options;
@using Microsoft.Extensions.Options;
@inject IOptions<SiteSettingsOptions> SiteSettings

<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="_TitlePartial" />
    <partial name="_StylesPartial" />
</head>
<body id="login-body" class="h-100">
    @*
        <partial name="_NavPartial" />
    *@
    <div id="loader" style="display:none"></div>
    <div class="container h-100">
        <partial name="_CookieConsentPartial" />
        <div class="row justify-content-md-center align-items-center h-100">
            <div class="d-none d-lg-block col-md-auto">
                <div class="logo-section">
                    @(await Html.PartialAsync("_LogoPartial"))
                </div>
            </div>
            <div class="col-auto login-body">
                <div class="d-lg-none d-block logo-top-section mx-auto">
                    @(await Html.PartialAsync("_LogoPartial"))
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

    <partial name="_ScriptsPartial" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
