@using OpenCredentialPublisher.Data.Options;
@using Microsoft.Extensions.Options;
@inject IOptions<SiteSettingsOptions> SiteSettings

<title>@ViewData["Title"] - @SiteSettings?.Value?.SiteName</title>

