	<header id="navigation">
		<div class="container">
		  <nav id="theTop" class="navbar navbar-expand-md navbar-toggleable-md navbar-light border-bottom box-shadow mb-3">
			<a class="navbar-brand" [routerLink]="['/']">
			  <img src="assets/images/Logo_with_text.png" alt="Open Credential Publisher" class="logo-image" />
			</a>
			<button class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target=".navbar-collapse"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation"
					[attr.aria-expanded]="isExpanded"
					(click)="toggle()">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse  d-sm-inline-flex justify-content-end"
				 [ngClass]="{ show: isExpanded }">
			  <ul class="navbar-nav mr-auto ml-3">
				<li class="nav-item" [routerLinkActive]="['link-active']">
				  <a class="nav-link text-light" [routerLink]="['/search']"><span class="credential-icon-default mr-2 align-middle"></span><span class="h2"> Search</span></a>
				</li>
			  </ul>
			  <ul class="navbar-nav">
				<li class="nav-item">
				  <a class="nav-link text-light" [routerLink]='["/authentication/register"]'>Register</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link text-light" [routerLink]='["/access/login"]'>Login</a>
				</li>
			  </ul>
			</div>
		  </nav>
		</div>
	  </header>
	<div class="container">
	  <router-outlet></router-outlet>
	</div>

