<div class="row mt-5">
  <div class="col">
    <section class="default-container p-5">
      <span class="h1">Share your credential</span>

      <div class="alert alert-primary font-16 mt-3">
        You have three options to share your credential
        <ol>
          <li>
            Below you will see a shareable link. Copy and paste as needed.
          </li>
          <li>
            Download a PDF copy of your shareable credential.
          </li>
          <li>
            Generate an email.
          </li>
        </ol>
      </div>
      <a [routerLink]="['/links/create']" class="btn btn-outline-primary btn-lg mb-3">Share a credential</a>
      <div *ngIf="showSpinner == true" class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th></th>
              <th>CLR</th>
              <th>Publisher</th>
              <th class="text-center">Shares</th>
              <th class="text-center">Published</th>
              <th class="text-center">Added</th>
            </tr>
          </thead>
        </table>
        <div class="d-flex flex-column">
          <app-spinner id="profile-spinner" [message]="message"></app-spinner>
        </div>
      </div>
      <div *ngIf="showSpinner == false" class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th class="expand-column"></th>
              <th>CLR</th>
              <th>Publisher</th>
              <th class="text-center">Shares</th>
              <th class="text-center">Published</th>
              <th class="text-center">Added</th>
            </tr>
          </thead>
          <tbody *ngFor="let credential of viewmodel.credentials; let i = index">
            <tr class="accordion-toggle collapsed" id="accordion{{i}}" data-toggle="collapse" [attr.data-parent]="getId('#accordion', i)" [attr.href]="getId('#collapse', i)">
              <td class="">
                <i class="contract-button far fa-2x fa-chevron-circle-right"></i>
                <i class="expand-button far fa-2x fa-chevron-circle-down"></i>
              </td>
              <td>{{credential.clrName}}</td>
              <td>{{credential.clrPublisherName}}</td>
              <td class="text-center">{{credential.links?.length ?? 0}}</td>
              <td class="text-center">{{credential.clrIssuedOn | date: 'M/d/yyyy'}}</td>
              <td class="text-center">{{credential.packageCreatedAt | date: 'M/d/yyyy'}} </td>
            </tr>
              <tr class="hide-table-padding">
                <td></td>
                <td colspan="5">
                  <div [attr.id]="getId('collapse', i)" class="collapse in">
                  <table class="table table-borderless">
                    <thead class="thead-light">
                    <tr>
                      <th>Nickname</th>
                      <th>URL</th>
                      <th class="text-center">Views</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let link of credential.links; let j = index">
                    <tr [ngClass]="{ 'bg-light': j % 2 == 1 }">
                      <td>{{link.nickname}}</td>
                      <td class="overflow-hidden" style="max-width: 20em;">
                        <a class="link" (click)="navigate(link.url)">{{link.url}}</a>
                      </td>
                      <td class="text-center">{{link.displayCount}}</td>
                      <td>
                        <a [routerLink]="['/links/share', link.id]" title="Share Through Email" class="btn btn-sm btn-outline-primary mr-3">Email</a>
                        <a [routerLink]="['/links/delete', link.id]" title="Delete Share" class="btn btn-sm btn-outline-danger">Delete</a>
                      </td>
                    </tr>
                    <tr class="border-top" *ngFor="let pdf of credential.pdfs" [ngClass]="{'bg-light': j % 2 == 1}">
                      <td></td>
                      <td colspan="2">
                        {{pdf.artifactName}}
                      </td>
                      <td>
                        <form method="post">
                          <button type="submit" class="btn text-primary btn-sm btn-outline-primary" title="View {{pdf.artifactName}}"
                            (click)="showPdf(link.id, credential.clrId, pdf.assertionId, pdf.evidenceName, pdf.artifactId, pdf.artifactName)">
                            Download
                          </button>
                        </form>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                  </table>
                </div>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
      <a [routerLink]="['/credentials']">Back to Credentials</a>
    </section>
  </div>
</div>