@model ClrLibrary.Models.AssertionDType
@using Newtonsoft 

@{ var assertion = Model;}

@functions {
    private async Task Show(string label, string value)
    {
        @if (!String.IsNullOrEmpty(value))
        {
        <div class="col my-2">
            <div class="h-color-gray">@label</div>
            <div>@Html.Raw(value)</div>
        </div>
        }
    }
}

<div class="mt-3 assertion-section p-3">
    <div class="row assertion-header">
        <div class="col my-2-sm-5"><span style="margin-right:15px;"><i class="fas fa-1x fa-angle-right"></i></span> @assertion?.Achievement?.Name</div>
        <div class="col my-2"></div>
        @if (assertion.IssuedOn.HasValue && !assertion.IssuedOn.Equals(default(DateTime)))
        {
        <div class="col my-2-sm-2 h-color-gray text-right">ISSUED ON</div>
        <div class="col my-2-sm-2"><b>@assertion.IssuedOn?.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("de-DE"))</b></div>
        }
    </div>


</div>

<div class="p-3 collapsed assertion-info">
    <div class="row">
        <div class="col my-2-sm-12">
            <table class="table">
                <tr>
                    <th style="width:25%;">TYPE</th>
                    <th style="width:25%;">DATE</th>
                    <th style="width:25%;">STATUS</th>
                    <th style="width:25%;">ISSUER</th>
                </tr>
                <tr data-toggle="modal" data-name="@assertion?.Achievement?.Name" class="assertion-row cursor">
                    <td>@assertion?.Achievement?.AchievementType</td>
                    <td>
                        @if (assertion?.IssuedOn != null && !assertion.IssuedOn.Equals(default(DateTime)))
                        {
                        @assertion?.IssuedOn?.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("de-DE"))
                        }
                    </td>
                    <td></td>
                    <td>@assertion?.Achievement?.Issuer?.Name</td>
                </tr>
                @if (assertion?.Achievement?.ResultDescriptions != null)
                {
                    <tr style="">
                        <td class="assertion-results-col my-2-1" style="border-top:none;padding-top:0;padding-left:35px;">RESULTS</td>
                        <td class="assertion-results-col my-2-1" colspan="3" style="border-top:none;padding-top:0;">
                            @foreach (var result in assertion?.Achievement?.ResultDescriptions)
                            {
                                var resultValue = assertion?.Results.Where(x => x.ResultDescription == result?.Id).FirstOrDefault();
                                <ul style="list-style-type:none;margin:0;padding:0">
                                    <li style="color:#BABABA"><div style="width:210px; margin-right:5px;float:left;">@result?.Name</div>@resultValue?.Value</li>
                                </ul>
                            }
                        </td>
                    </tr>
                }
            </table>
            <div class="assertion-details d-none">
                <div class="row row-cols-4">
                    @{ await Show("ISSUE DATE", assertion?.IssuedOn?.ToString("MM/dd/yyyy", System.Globalization.CultureInfo.CreateSpecificCulture("de-DE")));
                        await Show("SOURCE ID", assertion?.Achievement?.Issuer?.SourcedId);
                        await Show("TYPE", assertion?.Achievement?.AchievementType);
                        await Show("FIELD STUDY", assertion?.Achievement?.FieldOfStudy);
                        await Show("DESCRIPTION", assertion?.Achievement?.Description);
                        await Show("REQUIREMENT", assertion?.Achievement?.Requirement?.Narrative);
                        await Show("NARRATIVE", assertion?.Narrative);
                        await Show("TERM", assertion?.Term);
                        await Show("CREDITS EARNED", assertion?.CreditsEarned.ToString());
                        await Show("CREDITS AVAILABLE", assertion?.Achievement?.CreditsAvailable.ToString());
                        await Show("LEVEL", assertion?.Achievement?.Level);
                        var tags = assertion?.Achievement?.Tags == null ? String.Empty : String.Join(",", assertion?.Achievement?.Tags.ToArray());
                        await Show("TAGS", tags);

                        var address = $"{assertion?.Achievement?.Issuer?.Name}<br/>{assertion?.Achievement?.Issuer?.Address?.StreetAddress}<br/>{assertion?.Achievement?.Issuer?.Address?.AddressLocality}, {assertion?.Achievement?.Issuer?.Address?.AddressRegion} {assertion?.Achievement?.Issuer?.Address?.PostalCode}";
                        await Show("ISSUED BY", address);
                        await Show("ISSUER CONTACT", assertion?.Achievement?.Issuer?.Telephone);

                        @foreach (var props in Model.AdditionalProperties)
                        {

                            if (props.Value != null)
                            {
                                await Show(props.Key, Json.Serialize(props.Value).ToString());
                            }
                        }
                        }
                </div>
            </div>
        </div>

    </div>
</div>


