<div class="row mt-5">
    <div class="col">
        <section class="default-container p-5">
            <span class="h1">Create Recipient</span>

            <div class="alert alert-primary">
                <p>
                    A recipient is someone that you may share your credentials with
                </p>
            </div>
            <div [ngClass]="{ 'alert alert-danger mt-2': modelErrors.length > 0 }" >
              <span *ngFor="let msg of modelErrors">{{msg}}</span>
            </div>
            <form>
                <div class="form-group">
                    <label required class="control-label">Name</label>
                    <input [(ngModel)]="vm.name" class="form-control" />
                </div>
                <div class="form-group">
                    <label required class="control-label">Email</label>
                    <input [(ngModel)]="vm.email" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="button" (click)="save()" class="btn btn-outline-primary btn-lg">Save</button>
                </div>
            </form>

            <a [routerLink]="['/links']">Back to List of Recipients</a>
        </section>
    </div>
</div>
