<div class="row mt-5">
  <div class="col">
    <section class="default-container p-5">
      <span class="h1">Create Curated Collection</span>

      <div class="alert alert-primary">
          All of the assertions in the selected CLRs will be combined into a custom CLR.
      </div>

      <div class="row justify-content-start">
        <div asp-validation-summary="All" [ngClass]="{ 'alert alert-danger mt-2': modelErrors.length > 0 }" >
          <span *ngFor="let msg of modelErrors">{{msg}}</span>
        </div>
      </div>
      <form #f="ngForm" novalidate method="post">
        <div class="form-group">
            <label for="name" class="form-check-label">Name</label>
            <input id="name" type="text" required name="name" class="form-control" placeholder="Collection Name" [(ngModel)]="clrCollection.name" >
        </div>
        <div class="form-group table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Select</th>
                <th></th>
                <th>Publisher</th>
                <th>Published</th>
                <th>Name</th>
                <th class="text-center">Assertions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="clrCollection.clrs.length == 0">
                <td colspan="5">
                  Connect to a source or import a CLR file you received directly from a publisher.
                </td>
              </tr>
              <tr *ngFor="let clr of clrCollection.clrs">
                <td>
                  <input type="checkbox" name="isSelected" (change)="selectionChange(clr)" />
                  <label for="isSelected" class="form-check-label"></label>
                </td>
                <td class="align-middle">
                  <img *ngIf="clr.authorizationId == null" src="assets/images/noun_File_1909649.svg" style="height: 1.5em;"
                    title="Uploaded on {{clr.refreshedAt | date: 'M/d/yyyy'}}" />
                  <img *ngIf="clr.authorizationId != null" src="assets/images/noun_Data_942487.svg" style="height: 1.5em;"
                    title="Retrieved on {{clr.refreshedAt | date: 'M/d/yyyy'}}" />
                </td>
                <td class="align-middle">{{clr.publisherName}}</td>
                <td class="align-middle">{{clr.issuedOn | date: 'M/d/yyyy'}}</td>
                <td class="align-middle">{{clr.name}}</td>
                <td class="align-middle text-center">{{clr.assertionsCount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="input-group">
          <button type="button" class="btn btn-primary" [disabled]="f.invalid || showCreatingSpinner" (click)="create()">Create</button>
          <div class="input-group-append" *ngIf="showCreatingSpinner">
            <span class="input-group-text"><i class="fas fa-circle-notch fa-spin"></i></span>
          </div>
        </div>
      </form>

      <div class="pt-3">
        <a [routerLink]="['/credentials']">Back to Credentials</a>
      </div>
    </section>
  </div>
</div>
