<div class="row mt-5">
  <div id="divCred" class="col">
    <div *ngIf="showSpinner == true; else credentialContent" class="d-flex flex-column">
      <section class="default-container p-5">
        <app-spinner id="profile-spinner" [message]="message"></app-spinner>
    </section>
    </div>
    <ng-template #credentialContent>
    <section class="default-container p-5">
      <div *ngIf="package.showDownloadVCJsonButton == true || package.showDownloadPdfButton == true || package.isOwner == true" class="row">
        <div class="col align-items-center">
          <a class="float-right btn btn-lg btn-outline-danger text-danger" *ngIf="package.isOwner == true" [routerLink]="['/credentials/delete', package.id]" title="Delete Credential">
            <i class="fal fa-trash-alt fa-2x"></i>
          </a>
          <form *ngIf="package.showDownloadVCJsonButton == true" method="post" class="float-right mr-2">
              <button type="button" (click)="downloadVCJson()" class="btn btn-lg btn-outline-tertiary" title="Download Verifiable Credential">
                <i class="fas fa-file-download fa-2x"></i>
              </button>
          </form>
          <form *ngIf="package.showDownloadPdfButton == true" method="post" class="float-right mr-2">
              <button type="button" (click)="showPdf()" class="btn btn-lg btn-outline-tertiary " title="View Pdf"><i class="fas fa-file-pdf fa-2x"></i></button>
          </form>
          <div id="minispinner" *ngIf="miniSpinner == true" class="spinner-grow spinner-grow-sm float-right" role="status"></div>
        </div>
      </div>
      <app-verifiable-credential [package]="package" *ngIf="package.typeId == PackageTypeEnum.VerifiableCredential"></app-verifiable-credential>
      <app-clr [clrId]="package.clrIds[0]" [isShare]="false" *ngIf="package.typeId == PackageTypeEnum.Clr || package.typeId == PackageTypeEnum.Collection"></app-clr>
      <app-clr-set [package]="package" *ngIf="package.typeId == PackageTypeEnum.ClrSet"></app-clr-set>
      <app-ob-detail [package]="package" *ngIf="package.typeId == PackageTypeEnum.OpenBadgeConnect"></app-ob-detail>
      <div class="mt-3">
        <a [routerLink]="['/credentials']">Back to Your Credentials</a>
      </div>
      <button (click)="topFunction()" id="topBtn" class="btn btn-outline-primary btn-sm" title="Go to top">Top</button>
    </section>
    </ng-template>
  </div>
</div>
