<div class="mt-3 assertion-section p-3">
  <div class="row assertion-header" (click)="collapseToggle()" [attr.aria-expanded]="!isCollapsed">
    <div class="col-8 my-2-sm-5">
      <span style="margin-right:15px;">
        <i class="fas fa-1x" [ngClass]="{ 'fa-angle-right': isCollapsed,  'fa-angle-down': !isCollapsed}"></i>
      </span> {{assertionHeader.displayName}}
    </div>
    <ng-container *ngIf="showIssuedDate()">
      <div class="col-2 my-2-sm-2 h-color-gray text-right">ISSUED ON</div>
      <div class="col-2 my-2-sm-2"><b>{{assertionHeader.issuedOn | date: 'MM.dd.yyyy'}}</b></div>
    </ng-container>
  </div>
</div>
<div class="p-3 assertion-info" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="row">
    <div class="col my-2-sm-12 table-responsive">
      <table class="table">
        <tr>
            <th style="width:25%;">TYPE</th>
            <th style="width:25%;">DATE</th>
            <th style="width:25%;">STATUS</th>
            <th style="width:25%;">ISSUER</th>
        </tr>
        <!--<tr data-toggle="modal" (click)="popup(clrAssertion.id)" data-name="clrAssertion.achievementName" class="assertion-row cursor">-->
        <tr data-name="clrAssertion.achievementName" class="assertion-row cursor">
            <td>{{clrAssertion.achievementType}}</td>
            <td>
              <ng-container *ngIf="clrAssertion.issuedOn != null">
                {{clrAssertion.issuedOn | date: 'M/d/yyyy'}}
              </ng-container>
            </td>
            <td></td>
            <td>{{clrAssertion.achievementIssuerName}}</td>
        </tr>
        <tr *ngIf="clrAssertion.achievementResults != null" style="">
            <td class="assertion-results-col my-2-1" style="border-top:none;padding-top:0;padding-left:35px;">RESULTS</td>
            <td class="assertion-results-col my-2-1" colspan="3" style="border-top:none;padding-top:0;">
                <ng-container *ngFor="let result of clrAssertion.achievementResults">
                    <ul style="list-style-type:none;margin:0;padding:0">
                        <li style="color:#BABABA"><div style="width:210px; margin-right:5px;float:left;">{{result.name}}</div>{{result.value}}</li>
                    </ul>
                </ng-container>
            </td>
        </tr>
      </table>
    </div>
  </div>
</div>
